html, body {
  font-size: 16px;
	margin: 0;
	padding: 0;
  height: 100%;
  font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  * {
    box-sizing: border-box;
  }
}

body {
  background-color: #000000;
	.container {
    position: relative;
    margin: 35px auto;
    padding: 0;
    border-radius: 5px;
    background-color: #ffffff;
    &.app-container {
      border-top: 20px solid #f3f3f3;
    }
    .trapezoid {
      position: absolute;
      top: -40px;
      left: 10px;
      border-bottom: 20px solid #f3f3f3;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      height: 0;
      width: 100px;
      .circle {
        position: absolute;
        top: 7px;
        left: 69px;
        width: 8px;
        height: 8px;
        background: #ffffff;
        border-radius: 50%
      }
    }
    header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      background-image: linear-gradient(to right, #1d5a94, #23965f);
      min-height: 150px;
      h1 {
        color: #ffffff;
        font-weight: bold;
        font-size: 3rem;
        padding: 10px;
      }
    }
    .content-wrapper-container {
      .form-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px 20px 40px;
        .form-layout-wrapper {
          margin-bottom: 0;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .search-input-wrapper {
            flex: 1;
            .form-input {
              height: 65px;
              margin-right: 1rem;
              @media only screen and (max-width: 575px) {
                margin-right: 0;
              }
              input {
                height: 65px;
                border-color: #aaaaaa;
                font-size: 1.75rem;
                color: #000000;
              }
            }
          }
          .search-icon-wrapper {
            @media only screen and (max-width: 575px) {
              width: 100%;
              margin-top: 1rem;
            }
            .form-icon {
              height: 65px;
              width: 65px;
              font-size: 2.5rem;
              color: #ffffff;
              background-color: #23995c;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
              margin: 0;
              &:hover {
                cursor: pointer;
              }
              span {
                padding: 0;
                margin: 0;
              }
              @media only screen and (max-width: 575px) {
                width: 100%;
              }
            }
          }
        }
      }
      .results-favourites-wrapper {
        padding: 20px;
        &.favourites {
          background-color: #f7fefa;
          .favourites-title {
            color: #23995c;
            font-size: 2.2rem;
            font-weight: 700;
            margin-bottom: 2rem;
          }
        }
        margin-top: 0;
        .garbage-item {
          font-size: 1.3rem;
          font-weight: 400;
          margin-bottom: 1.5rem;
          span {
            margin-right: 10px;
            color: #aaaaaa;
            &:hover {
              cursor: pointer;
            }
            &.favourited {
              color: #23995c;
            }
          }
          ul {
            li {
              line-height: 1.7rem;
              margin-bottom: 1rem;
            }
          }
        }
      }
    }
  }
}

.loading {
  text-align: center;
}